html, body {
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei"; }

a {
  text-decoration: none; }

img {
  border: none; }

html, body {
  width: 100%;
  height: 100%; }
  html .box, body .box {
    width: 1440px;
    height: 900px;
    margin: 0 auto; }
    html .box .interior, body .box .interior {
      width: 100%;
      height: 100%;
      background: url("../img/1-1.jpg"); }
      html .box .interior .content, body .box .interior .content {
        width: 100%;
        height: 900px;
        position: relative; }
        html .box .interior .content .header, body .box .interior .content .header {
          width: 100%;
          height: 70px;
          background: url("../img/title.png"); }
          html .box .interior .content .header .header_content, body .box .interior .content .header .header_content {
            width: 1340px;
            height: 70px;
            margin: 0 auto; }
            html .box .interior .content .header .header_content .hcl, body .box .interior .content .header .header_content .hcl {
              width: 247px;
              height: 40px;
              line-height: 40px;
              margin-top: 15px;
              float: left; }
              html .box .interior .content .header .header_content .hcl span, body .box .interior .content .header .header_content .hcl span {
                font-family: "Microsoft YaHei"; }
              html .box .interior .content .header .header_content .hcl .open_bank, body .box .interior .content .header .header_content .hcl .open_bank {
                color: #cee4f7;
                font-size: 14px; }
              html .box .interior .content .header .header_content .hcl i, body .box .interior .content .header .header_content .hcl i {
                font-style: normal;
                color: #ffffff;
                font-size: 24px; }
              html .box .interior .content .header .header_content .hcl .material, body .box .interior .content .header .header_content .hcl .material {
                color: #ffffff;
                font-size: 24px; }
            html .box .interior .content .header .header_content .hcr, body .box .interior .content .header .header_content .hcr {
              width: 200px;
              height: 46px;
              margin-top: 12px;
              vertical-align: middle;
              float: right;
              font-family: "Microsoft YaHei";
              overflow: hidden; }
              html .box .interior .content .header .header_content .hcr a, body .box .interior .content .header .header_content .hcr a {
                display: inline-block;
                width: 74px;
                height: 46px; }
              html .box .interior .content .header .header_content .hcr .linellae, body .box .interior .content .header .header_content .hcr .linellae {
                margin: 5px 4px;
                display: inline-block;
                width: 2px;
                height: 36px;
                background: url("../img/linellae.png"); }
              html .box .interior .content .header .header_content .hcr .timed, body .box .interior .content .header .header_content .hcr .timed {
                display: inline-block;
                overflow: hidden;
                width: 100px;
                height: 40px;
                line-height: 32px;
                color: #ffffff;
                font-family: "Microsoft YaHei"; }
                html .box .interior .content .header .header_content .hcr .timed #timesd, body .box .interior .content .header .header_content .hcr .timed #timesd {
                  font-size: 40px;
                  font-style: normal; }
                html .box .interior .content .header .header_content .hcr .timed .second_icon, body .box .interior .content .header .header_content .hcr .timed .second_icon {
                  font-size: 24px;
                  font-style: normal; }
        html .box .interior .content .main, body .box .interior .content .main {
          width: 1340px;
          height: 728px;
          background: url("../img/content_box.png");
          background-repeat: no-repeat;
          margin: 40px auto 0px;
          overflow: hidden; }
          html .box .interior .content .main .main_picture, body .box .interior .content .main .main_picture {
            width: 176px;
            height: 222px;
            background: url("../img/succeed.png");
            background-repeat: no-repeat;
            margin: 140px auto 80px; }
          html .box .interior .content .main .main_icf, body .box .interior .content .main .main_icf {
            width: 500px;
            height: 100px;
            margin: 0 auto; }
            html .box .interior .content .main .main_icf .main_ic, body .box .interior .content .main .main_icf .main_ic {
              display: block;
              width: 18px;
              height: 38px;
              background: url("../img/arrow.png");
              margin: 0 auto; }
            html .box .interior .content .main .main_icf .main_ft, body .box .interior .content .main .main_icf .main_ft {
              display: block;
              width: 100%;
              height: 62px;
              line-height: 62px;
              text-align: center;
              font-size: 24px;
              font-family: "Microsoft YaHei";
              color: #ffffff; }
          html .box .interior .content .main #affirm, body .box .interior .content .main #affirm {
            width: 260px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background-color: #f49e17;
            margin: 100px auto 40px;
            font-family: "Microsoft YaHei";
            cursor: pointer;
            color: #ffffff; }
        html .box .interior .content .footer, body .box .interior .content .footer {
          width: 100%;
          height: 52px;
          position: relative;
          bottom: 0px;
          background: url("../img/foot.png");
          background-repeat: no-repeat; }
          html .box .interior .content .footer .foot_left, body .box .interior .content .footer .foot_left {
            width: 150px;
            height: 52px;
            position: absolute;
            left: 0;
            bottom: -6px; }
            html .box .interior .content .footer .foot_left .fl_con, body .box .interior .content .footer .foot_left .fl_con {
              display: inline-block;
              width: 24px;
              height: 24px;
              background: url("../img/reading.png");
              margin: 12px 0px 12px 20px;
              vertical-align: middle;
              float: left; }
            html .box .interior .content .footer .foot_left .fl_font, body .box .interior .content .footer .foot_left .fl_font {
              margin: 14px 5px 14px 12px;
              color: #ffffff;
              font-size: 16px;
              float: left; }
          html .box .interior .content .footer .foot_right, body .box .interior .content .footer .foot_right {
            width: 150px;
            height: 52px;
            position: absolute;
            right: 0;
            bottom: -6px; }
            html .box .interior .content .footer .foot_right .fr_font, body .box .interior .content .footer .foot_right .fr_font {
              margin-left: 20px;
              margin-top: 14px;
              color: #ffffff;
              font-size: 16px;
              float: left; }
            html .box .interior .content .footer .foot_right .fr_con, body .box .interior .content .footer .foot_right .fr_con {
              display: inline-block;
              width: 24px;
              height: 24px;
              background: url("../img/service.png");
              margin: 12px 5px 12px 20px;
              float: left; }

/*# sourceMappingURL=openbank_succeed.css.map */
