html,body{padding:0;margin:0;font-family:"Microsoft YaHei";}
html,body{
  width:100%;
  height:100%;
  .box{
    width:1440px;
    height:900px;
    margin:0 auto;
    .interior{
      width:100%;
      height:100%;
      background:url("../img/1-1.jpg");
      .content{
        width:100%;
        height:900px;
        //border:1px solid red;
        .header{
          width:100%;
          height:70px;
          background:url("../img/title.png");
          .header_content{
            width:1340px;
            height:70px;
            margin:0 auto;
            .hcl{
              width:247px;
              height:40px;
              line-height: 40px;
              margin-top:15px;
              float:left;
              //border:1px solid red;
              span{
                font-family:"Microsoft YaHei";
              }
              .open_bank{
                color:#cee4f7;
                font-size:14px;
              }
              i{
                font-style:normal;
                color:#ffffff;
                font-size: 24px;
              }
              .material{
                color:#ffffff;
                font-size:24px;
              }
            }
            .hcr{
              width:200px;
              height:46px;
              //border:1px solid red;
              //line-height:46px;
              margin-top:12px;
              vertical-align: middle;
              float:right;
              font-family:"Microsoft YaHei";
              overflow: hidden;
              a{
                display:inline-block;
                width:74px;
                height:46px;
              }
              .linellae{
                margin:5px 4px;
                display:inline-block;
                width:2px;
                height:36px;
                background:url("../img/linellae.png");
              }
              .timed{
                display:inline-block;
                overflow: hidden;
                width:100px;
                height:40px;
                //border:1px solid red;
                //vertical-align: middle;
                line-height: 32px;
                color:#ffffff;
                font-family:"Microsoft YaHei";
                #timesd{
                  //display:inline-block;
                  font-size:40px;
                  font-style:normal;
                }
                .second_icon{
                  font-size:24px;
                  font-style:normal;
                }
              }
            }
          }
        }
        .main{
          width:1340px;
          height:728px;
          margin-top:40px;
          background:url("../img/content_box.png");
          margin:40px auto 0px;
          overflow: hidden;
          position:relative;
          .main_content{
            width:1300px;
            height:auto;
            border:1px solid red;
            margin:20px auto 20px;
            .main_title{
              width:100%;
              height:34px;
              line-height: 34px;
              text-align: center;
              background-color: #b4bbd1;
              font-size:14px;
              color:#222d43;
            }
            .main_top{
              width:100%;
              height:111px;
              overflow: hidden;
              background-color:#d6ddf0;
              .main_topc{
                width:1200px;
                height:81px;
                //border:1px solid red;
                margin:15px auto;
                .main_topt{
                  width:100%;
                  height:81px;
                  .main_toptt{
                    width:100%;
                    height:32px;
                    .matoptl,.matoptr{
                      width:520px;
                      height:32px;
                      line-height: 32px;
                      float:left;
                      label{
                        font-family:Microsoft YaHei;
                        font-size:14px;
                        color:#333333;
                        float:left;
                      }
                      input{
                        width:448px;
                        height:30px;
                        border:0;
                        outline: none;
                        line-height:30px;
                        float:left;
                      }
                      input:-ms-input-placeholder{
                        color:#999999;
                        font-size:14px;
                        font-family:Microsoft YaHei;
                      }
                    }
                    .matoptr{
                      float:right;
                    }
                  }
                  .main_toptb{
                    margin-top:17px;
                    width:100%;
                    height:32px;
                    //border:1px solid red;
                    .matoptbl,.matoptbm,.matoptbb{
                      width:330px;
                      height:32px;
                      line-height:32px;
                      float:left;
                      label{
                        font-family:"Microsoft YaHei";
                        font-size:14px;
                        color:#333333;
                        float:left;
                      }
                      input{
                        width:248px;
                        height:30px;
                        border:0;
                        outline: none;
                        line-height:30px;
                        float:left;
                      }
                      input:-ms-input-placeholder{
                        color:#999999;
                        font-size:14px;
                        font-family:Microsoft YaHei;
                      }
                    }
                    .matoptbm{
                      margin-left:105px;
                    }
                    .matoptbb{
                      width:348px;
                      height:32px;
                      float:right;
                    }
                  }
                }
              }
            }
            .main_middle{
              width:100%;
              height:160px;
              overflow:hidden;
              background-color:#d6ddf0;
              .main_middlec{
                width:1200px;
                height:130px;
                border:1px solid red;
                margin:15px auto;
                .main_middlet{
                  width:100%;
                  height:30px;
                  line-height:30px;
                  border: 1px solid pink;
                  .main_middletl,.main_middletr{
                    width:400px;
                    height:100%;
                    line-height:30px;
                    float:left;
                    label,span{
                      font-family:"Microsoft YaHei";
                      color:#333333;
                      font-size:14px;
                    }
                    input{
                      margin-right:10px;
                      width:18px;
                      height:18px;
                      border:1px solid #434343;
                      vertical-align: text-bottom;
                    }
                  }
                  .main_middletr{
                    width:480px;
                  }
                }
                .main_middlem{
                  width:700px;
                  height:30px;
                  line-height:30px;
                  margin-top:15px;
                  border:1px solid red;
                  label,span{
                    font-family:"Microsoft YaHei";
                    color:#333333;
                    font-size:14px;
                  }
                  input{
                    margin-right:10px;
                    width:18px;
                    height:18px;
                    border:1px solid #434343;
                    vertical-align: text-bottom;
                  }
                }
                .main_middleb{
                  width:100%;
                  height:32px;
                  margin-top:17px;
                  border:1px solid red;
                  .main_middlebl,.main_middlebm,.main_middlebr{
                    width:350px;
                    height:32px;
                    line-height:32px;
                    float: left;
                    label{
                      font-family:Microsoft YaHei;
                      font-size:14px;
                      color:#333333;
                      float:left;
                    }
                    input{
                      width:250px;
                      height:30px;
                      border:0;
                      outline: none;
                      line-height:30px;
                      float:left;
                    }
                    input:-ms-input-placeholder{
                      color:#999999;
                      font-size:14px;
                      font-family:Microsoft YaHei;
                    }
                  }
                  .main_middlebr{
                    width:420px;
                    height:32px;
                  }
                }
              }
            }
          }
          .affirm{
            width:260px;
            height:40px;
            text-align: center;
            line-height: 40px;
            background-color:#FFA500;
            position:absolute;
            left:522px;
            bottom:45px;
            font-family:"Microsoft YaHei";
            color:#ffffff;
          }
        }
        .footer{
          width:100%;
          height:52px;
          position:relative;
          //postion:absloute;
          //bottom:0;
          background:url("../img/foot.png");
          background-repeat:no-repeat;
          .foot_left{
            width:150px;
            height:52px;
            //border:1px solid red;
            position:absolute;
            left:0;
            bottom:-6px;
            .fl_con{
              display:inline-block;
              width:24px;
              height:24px;
              background:url("../img/reading.png");
              margin:12px 0px 12px 20px;
              vertical-align: middle;

              float:left;
            }
            .fl_font{
              margin:14px 5px 14px 12px;
              color:#ffffff;
              font-size:16px;
              float:left;
            }
          }
          .foot_right{
            width:150px;
            height:52px;
            //border:1px solid red;
            position:absolute;
            right:0;
            bottom:-6px;
            //line-height: 52px;
            .fr_font{
              margin-left:20px;
              margin-top:14px;
              color:#ffffff;
              font-size:16px;
              float: left;
            }
            .fr_con{
              display:inline-block;
              width:24px;
              height:24px;
              background:url("../img/service.png");
              margin:12px 5px 12px 20px;
              float: left;
            }
          }
        }
      }
    }
  }
}
